/* Main Section */
.main {
    min-height: 80vh;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 3rem;
}

.main .content {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 15rem;
    max-width: 50rem;
}

.main .content h1 {
    font-size: 3rem;
    color: var(--other);
    text-shadow: 1px 1px 3px rgba(26, 33, 48, 0.5);
    line-height: 1.2;
}

.main .content h1 span {
    color: var(--primary);
}

.main .content p {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
    line-height: 1.4;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(26, 33, 48, 0.5);
}

.main .content .mainbtn {
    margin-top: 1rem;
    display: inline;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: var(--bg);
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(26, 33, 48, 0.5);
}

/* About Section */
.about,
.maskot,
.kontak {
    padding: 9rem 7% 1.4rem;
}

.about h2,
.maskot h2,
.kontak h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.about h2 span,
.maskot h2 span,
.kontak h2 span {
    color: var(--other);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 5rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.6;
}

/* Mascot Section */
.maskot h2,
.kontak h2 {
    margin-bottom: 1rem;
}

.maskot p,
.kontak p {
    text-align: center;
    max-width: 35rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.maskot .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.maskot .row .menu-card {
    text-align: center;
    padding-bottom: 2rem;
}

.maskot .row .menu-card img {
    border-radius: 50%;
    width: 80%;
}

.maskot .row .menu-card .menu-card-text {
    margin-top: 1.5rem;
}

.maskot .row .menu-card .menu-card-type {
    margin: 1.5rem auto 0.5rem;
}

/* Contact Section */
.kontak .row {
    display: flex;
    margin-top: 2rem;
    background-color: var(--primary);
}

.kontak .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.kontak .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.kontak .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid var(--bg);
    padding-left: 2rem;
}

.kontak .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    border: none;
    color: var(--primary);
}

.kontak .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--bg);
    background-color: var(--primary);
    cursor: pointer;
}